<html>
  <body>
    <h1>Edit Menu Item</h1>
    <form action="{{url_for('editMenuItem',rid=rid,mid=item.id)}}" method='POST'>
      <p>Name</p><input type='text' name='name' value='{{item.name}}'></br>
      <p>Description</p><input type='text' name='desc' value='{{item.description}}'></br>
      <p>Price</p><input type='text' name='price' value='{{item.price}}'></br>
      <p>Course</p><input type='text' name='course' value='{{item.course}}'></br>
      <input type='submit' value='Edit'>
      <a href='{{url_for('restaurantMenu',rid=rid)}}'>
        <button>Cancel</button>
      </a>
    </form>
  </body>
</html>