{% extends "base.html" %}
{% block content %} 
<div class="jumbotron">
    <h1>Delete Product</h1>
</div>
<form class="form-horizontal" role="form" method="POST" action="{{url_for('deleteProduct',cid=sel_catagory.id,pid=sel_product.id)}}">
    <div class="form-group">
        <!--<div class="col-sm-offset-2 col-sm-10">-->
        <label class="control-label col-sm-2">Confirm delete product <span style="color:#FF0000;">{{sel_product.name}}</span> ?</label>
        <button type="submit" class="btn btn-default">Yes</button>
        <a href="{{url_for('showProducts',cid=sel_catagory.id)}}" class="btn btn-default">No</a>
        <!--</div>-->
    </div>
</form>
{% endblock %}