<html>
  <head>
    <!--<link rel="stylesheet" type="txt/css" href="{{url_for('static',filename='style.css')}}">-->
  </head>
  <body>
    <h1>{{ restaurant.name }}</h1>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    {% for item in menu %}
    <div class="name">
      {{item.name}}
    </div>
    </br>
    {{item.description}}
    </br>
    {{item.price}}
    </br>
    <a href='{{url_for('editMenuItem',rid=restaurant.id,mid=item.id)}}'>Edit</a>
    <a href='{{url_for('deleteMenuItem',rid=restaurant.id,mid=item.id)}}'>Delete</a>
    </br>
    </br>
    {% endfor %}
    <a href='{{url_for('newMenuItem',rid=restaurant.id)}}'>Create a new menu item</a>
  </body>
</html>