<html>
  <head>
    <!--<link rel="stylesheet" type="txt/css" href="{{url_for('static',filename='style.css')}}">-->
    <title>New Catalog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="txt/css" href="{{url_for('static',filename='simple-sidebar.css')}}">
  </head>
  <body>
      <div id="wrapper">
         <!--Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{url_for('IndexPage')}}">
                        Catalog
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a href="{{url_for('IndexPage')}}">
                        Login
                    </a>
                </li>
                {% for catagory in catagories %}
                <li>
                    <a href="{{url_for('showProducts',cid=catagory.id)}}">{{catagory.name}}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="{{url_for('newCatagory')}}">Create new catagory</a>
                </li>
                <li>
                    <a href="{{url_for('newProduct')}}">Create new product</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category,message in messages %}
                        <div class="alert {{ category }}">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{message}}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        
                        <div class="jumbotron">
                            <h1>New Product</h1>
                        </div>
                        <form class="form-horizontal" role="form" method="POST" action="{{url_for('newProduct')}}">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="name">Product Name: </label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter product name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="desc">Description: </label>
                                <div class="col-sm-10"> 
                                <textarea class="form-control" rows="5" id="desc" name="desc" placeholder="Enter description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="price">Price: </label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="price" name="price" placeholder="Enter product price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="flavour">Flavour: </label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="flavour" name="flavour" placeholder="Enter product flavour">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Catagory: </label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="catagory">
                                        {% for catagory in catagories %}
                                        <option value="{{catagory.id}}">{{catagory.name}}</option>
                                        {% endfor %}
                                    </select>                                    
                                </div>
                            </div>
                            <div class="form-group"> 
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <div class="container">
        
    </div>  
  </body>
</html>