{% block sidebar%}
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="{{url_for('IndexPage')}}">
                Catalog
            </a>
        </li>
        <li class="sidebar-brand">
            <a href="{{url_for('showLogin')}}">
                Login
            </a>
        </li>
        {% for catagory in catagories %}
        <li>
            <a href="{{url_for('showProducts',cid=catagory.id)}}">{{catagory.name}}</a>
        </li>
        {% endfor %}
        <li>
            <a href="{{url_for('newCatagory')}}">Create new catagory</a>
        </li>
    </ul>
</div>
{% endblock %}